################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.suo
*.user
/**/.vs/*
/**/bin/*
/**/obj/*
packages
*.nupkg 
/**/*.dll
/**/*.pdb
/dist
*.orig
Debug/
*.lib

#TestComplete
*.bak
*.tcCfgExtender
*.js.bak
*.js.tcVis
*.tcLS
*.tcCfgExtender
*.tcLogs
*.tlb

*_BACKUP_*
*_BASE_*
*_LOCAL_*
*_REMOTE_*

node_modules/
output/

*.http
TestResults

Release
logs/

*.db
*.db-shm
*.db-wal
.idea/.idea.Warehouse/.idea/.gitignore
.idea/.idea.Warehouse/.idea/encodings.xml
.idea/.idea.Warehouse/.idea/indexLayout.xml
.idea/.idea.Warehouse/.idea/vcs.xml
